################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CrimeHotspot/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/CrimeHotSpotWeb/.vs/config/applicationhost.config
/CrimeHotSpotWeb/.vs/CrimeHotSpotWeb/v15/Server/sqlite3/storage.ide-wal
/CrimeHotSpotWeb/.vs/CrimeHotSpotWeb/v15/Server/sqlite3/storage.ide-shm
/CrimeHotSpotWeb/.vs/CrimeHotSpotWeb/v15/Server/sqlite3/storage.ide
/CrimeHotSpotWeb/.vs/CrimeHotSpotWeb/v15/Server/sqlite3/db.lock
/CrimeHotSpotWeb/.vs/CrimeHotSpotWeb/v15/.suo
/CrimeHotSpotWeb/CrimeHotSpotWeb/Properties/AssemblyInfo.cs
/CrimeHotSpotWeb/CrimeHotSpotWeb/Properties
/CrimeHotSpotWeb/CrimeHotSpotWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CrimeHotSpotWeb/CrimeHotSpotWeb/obj/Debug/CrimeHotSpotWeb.pdb
/CrimeHotSpotWeb/CrimeHotSpotWeb/obj/Debug/CrimeHotSpotWeb.dll
/CrimeHotSpotWeb/CrimeHotSpotWeb/obj/Debug/CrimeHotSpotWeb.csprojAssemblyReference.cache
/CrimeHotSpotWeb/CrimeHotSpotWeb/obj/Debug/CrimeHotSpotWeb.csproj.FileListAbsolute.txt
/CrimeHotSpotWeb/CrimeHotSpotWeb/obj/Debug/CrimeHotSpotWeb.csproj.CoreCompileInputs.cache
/CrimeHotSpotWeb/CrimeHotSpotWeb/obj/Debug
/CrimeHotSpotWeb/CrimeHotSpotWeb/bin/CrimeHotSpotWeb.pdb
/CrimeHotSpotWeb/CrimeHotSpotWeb/bin/CrimeHotSpotWeb.dll.config
/CrimeHotSpotWeb/CrimeHotSpotWeb/bin/CrimeHotSpotWeb.dll
/CrimeHotSpotWeb/CrimeHotSpotWeb/Scripts/angular.min.js.map
/CrimeHotSpotWeb/CrimeHotSpotWeb/Scripts/angular.min.js
/CrimeHotSpotWeb/CrimeHotSpotWeb/Scripts/angular.js
/CrimeHotSpotWeb/CrimeHotSpotWeb/Scripts/angular-mocks.js
/CrimeHotSpotWeb/CrimeHotSpotWeb/CrimeHotSpotWeb.csproj
/CrimeHotSpotWeb/CrimeHotSpotWeb/CrimeHotSpotWeb.csproj.user
/CrimeHotSpotWeb/CrimeHotSpotWeb/Web.Release.config
/CrimeHotSpotWeb/CrimeHotSpotWeb/Web.Debug.config
/CrimeHotSpotWeb/CrimeHotSpotWeb/Web.config
/CrimeHotSpotWeb/CrimeHotSpotWeb/packages.config
/CrimeHotSpotWeb/packages/AngularJS.Core.1.7.5/content/Scripts/angular.min.js.map
/CrimeHotSpotWeb/packages/AngularJS.Core.1.7.5/content/Scripts/angular.min.js
/CrimeHotSpotWeb/packages/AngularJS.Core.1.7.5/content/Scripts/angular.js
/CrimeHotSpotWeb/packages/AngularJS.Core.1.7.5/content/Scripts/angular-mocks.js
/CrimeHotSpotWeb/packages/AngularJS.Core.1.7.5/AngularJS.Core.1.7.5.nupkg
/CrimeHotSpotWeb/packages/AngularJS.Core.1.7.5/.signature.p7s
/CrimeHotSpotWeb/CrimeHotSpotWeb.sln
