/* FOR USE WITH index.html*/
@import './mainstyle.css';

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */


nav {
    width: 65%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
}

nav:hover {
    opacity: 1;
}


#nav-logo {
    height: 5%;
    width: 5%;
    margin-right: 10px;
}


nav .navbar-center {
    position: relative;
    width: 100%;
    height: 100%;
    left: 5vw;
    top: 0;
    text-align: center;
    overflow: visible;
}
nav form{
    width: 400px;
    display:inline-block;
}


.navbar-center * {
    display: inline-block;
    padding: 0;
}

/*Color Scale Begins*/

#color-scale {
    height: 3vh;
    width: 20vw;
}

/*Color Scale Ends*/

/*Sidenav*/

.sidenav {
    width: 160px;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0;
    margin: auto;
    background-color: white;
    border:1px solid gray;
    opacity: 0.5;
    overflow:hidden;
}

.sidenav-arrow{
    width:30px;
    height: 55px;
    margin:0;
    padding:0;

    position: relative;
    top:50%;
    left:155px;
    background-color: white;
    border:1px solid grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}



#map {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 90.55%;
    margin: 0;
    padding: 0;
}