/* FOR USE WITH index.html*/

@import './mainstyle.css';

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */


nav{
  width:80vh;
  position: absolute;
  top:0px;
  left:0px;
  margin:auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /*border:1px solid black;*/
  opacity: 0.5;
}

nav:hover{
  opacity: 1;
}

#map {
  position: absolute;
  top:0px;
  left:0px;
  height: 100vh;
  width:100vw;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 90.55%;
  margin: 0;
  padding: 0;
}