/* FOR USE WITH index.html*/
@import './mainstyle.css';

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */


nav {
  width: 8vw;
  height: 5vw;
  border-radius:0 0 10px 10px;
  margin-left:10vw;
  border:1px solid gray;
  opacity: 0.2;
}

nav:hover {
  opacity: 1;
}

.navbar-center{
  width: 100%;
  height: 100%;
}

.navbar-center a{
font-size: 1rem;
  margin:0;
  padding:0;
}

/*Logo image */
#nav-logo {
}

/*Color Scale Begins*/

.color-scale-holder{
  /*border:1px solid gray;*/
  /*border-radius: 10px;*/
  /*margin-bottom: 20px;*/
  /*!*padding: top right bottom left*!*/
  /*padding: 10px 8px 10px 8px;*/
  /*!*background-color: rgba(241, 241, 234, 0.53);*!*/
  /*background-color: rgba(255, 255, 255, 0.47);*/
}
.color-scale-holder .title{
  /*border:1px solid red;*/
  width: 100%;
}

#color-gradient{
  width: 100%;
  height:3vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c12700+0,d63a00+6,f95a00+14,ff6500+16,ff7800+20,ef8900+23,da9a00+25,9ac800+31,77de00+34,4ef500+39,36ff00+43,36fa10+47,36ed29+51,5491b6+58,2951f2+63,4535fc+65,3c4eea+73,32abd7+83,14d3d5+92,07e5d4+95,02eed8+100 */
  background: #c12700; /* Old browsers */
  background: -moz-linear-gradient(left, #c12700 0%, #d63a00 6%, #f95a00 14%, #ff6500 16%, #ff7800 20%, #ef8900 23%, #da9a00 25%, #9ac800 31%, #77de00 34%, #4ef500 39%, #36ff00 43%, #36fa10 47%, #36ed29 51%, #5491b6 58%, #2951f2 63%, #4535fc 65%, #3c4eea 73%, #32abd7 83%, #14d3d5 92%, #07e5d4 95%, #02eed8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #c12700 0%,#d63a00 6%,#f95a00 14%,#ff6500 16%,#ff7800 20%,#ef8900 23%,#da9a00 25%,#9ac800 31%,#77de00 34%,#4ef500 39%,#36ff00 43%,#36fa10 47%,#36ed29 51%,#5491b6 58%,#2951f2 63%,#4535fc 65%,#3c4eea 73%,#32abd7 83%,#14d3d5 92%,#07e5d4 95%,#02eed8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #c12700 0%,#d63a00 6%,#f95a00 14%,#ff6500 16%,#ff7800 20%,#ef8900 23%,#da9a00 25%,#9ac800 31%,#77de00 34%,#4ef500 39%,#36ff00 43%,#36fa10 47%,#36ed29 51%,#5491b6 58%,#2951f2 63%,#4535fc 65%,#3c4eea 73%,#32abd7 83%,#14d3d5 92%,#07e5d4 95%,#02eed8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c12700', endColorstr='#02eed8',GradientType=1 ); /* IE6-9 */
}

/*Color Scale Ends*/



#map {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 90.55%;
  margin: 0;
  padding: 0;
}
