.sidenav {
    height: 80%;
    width: 10px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: rgba(77, 205, 224, 0.47);
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.2;
    margin-top: 5%;
    border:1px solid gray;
}
.sidenav:hover{
    opacity: 1;
    width: 150px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1ea;
}

.sidenav img{
    min-width: 60px;
    width: 100%;
}

.sidenav img:hover{
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.openbtn{
    font-size:30px;
    cursor:pointer;
    position: absolute;
    z-index: 1;
    top:50px;
    left:0px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
